<h3>Bienvenue sur Pinky Quizz !</h3>
<p>Merci pour votre inscription, veuillez dès à présent comfirmer votre email afin d'accéder au meilleur quizz qui n'a jamais été inventé:<br><br>
    <a href="{{ signedUrl }}">COMFIRMER VOTRE ADRESSE-MAIL</a>
    <br><br>
    Le lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}/heure.
</p>

<p>
    Amusez-vous bien et améliorer votre culture générale!
    Sheeeesh!
</p>

<div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/JiUatNrAt4dhNJSJAW" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/series-canal-jonathan-cohen-laflamme-la-flamme-JiUatNrAt4dhNJSJAW">via GIPHY</a></p>